body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color:antiquewhite;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.menu {
    display: none;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px 0;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.main-content {
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }
}
h1{
    color: blue;
}
p{
    font-weight: bold;
    font-size: larger;
    color: rgba(15, 17, 136, 0.767);
}